<table class="table">
  <tr>
    <th>Room</th>
    <th>Room Description</th>
    <th>Free for</th>
  </tr>
  <% free_rooms.each do |room| %>
      <tr>
        <td><%= room.full_code %></td>
        <td><%= room.name %></td>
        <td><%= limited_time_until(room.free_until_today) %></td>
      </tr>
  <% end %>
</table>