<div class="signage row-fluid">
  <div class="content span12">
    <div id="live-feed">
      <h1>Tonsley Live Feed</h1>
      <iframe src="http://www.flinders.edu.au/flinders/app_templates/services/scheduled/getlivetonsley.cfm?refreshrate=7" width="100%" style="height:60em;" scrolling="auto" frameborder="0" onload="javascript:try{gotop()}catch(e){}">
        [Your user agent does not support frames or is currently configured not to display frames. However, you may visit
        <a href="http://www.flinders.edu.au/flinders/app_templates/services/scheduled/getlivetonsley.cfm?refreshrate=10">the related document.</A>]
      </iframe>
    </div>
  </div>r
</div>