development:
  secret_key_base: nil
  flinders_api_secret: nil
  unisa_username: nil
  unisa_password: nil

test:
  secret_key_base: nil
  flinders_api_secret: nil
  unisa_username: nil
  unisa_password: nil

production:
  secret_key_base: nil
  flinders_api_secret: nil
  unisa_username: nil
  unisa_password: nil
