/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$flinders-light-yellow:  #ffe6a8;
$flinders-dark-yellow: #ffe063;

@mixin flinders-gradient-light {
	background: $flinders-dark-yellow; /* Old browsers */
	background: -moz-linear-gradient(top,  $flinders-dark-yellow 0%, $flinders-light-yellow 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$flinders-dark-yellow), color-stop(100%,$flinders-light-yellow)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $flinders-dark-yellow 0%,$flinders-light-yellow 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $flinders-dark-yellow 0%,$flinders-light-yellow 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $flinders-dark-yellow 0%,$flinders-light-yellow 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $flinders-dark-yellow 0%,$flinders-light-yellow 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$flinders-dark-yellow', endColorstr='$flinders-light-yellow',GradientType=0 ); /* IE6-9 */
}


$header-height: 150px;


html {
    height: 100%;
}
body {
    padding-bottom: $header-height;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flinders-gradient-light;
}

header { color: #111; position: absolute; bottom: 0px; @include flinders-gradient-light; width: 100%; font-family: "Serif"; }
header h1 { display: inline-block; font-size: 4em; font-weight: normal; line-height: $header-height; margin: 0 0 0 30px; padding: 0;  }
header h1 small { color: #111; opacity: 0.5; }
header img.logo { height: $header-height; display: inline; vertical-align: top; }

header #flinders-sticky { padding: 10px; }

.table th { border-top: 0 none !important; }
.table td { border: 1px solid $flinders-dark-yellow !important; background: rgba(#fff, 0.30); }


div.content { }