// Place all the styles related to the signage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.signage { color: #111; }
div.signage h1 { font-weight: normal; font-family: serif; font-size: 4em; }


